<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>  
        <title>Metagenomics Visualize Platform</title>
        <h1>Metagenomics Visualize Platform</h1>
        <h2>Upload File</h2>

       

        <div id='div2'>
            1. upload your File.<br>
            2.select which item you are interested in .
            <br>
            <br>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file id='upload'>
      <input type=submit value=Upload >
    </form>
    </div>
       <!--
        <script>
            //receive json from flask
                $(document).ready(function(){
                    $("#return_string").click(function(){
                        $.get("graph/return_string", function(data, status){
                            //var obj = JSON.parse(data);
                            document.getElementById('return_stringp').innerHTML=data['test1'];
                            alert("Data: " +data['test1']+ "\nStatus: " + status);
                        });
                    });
                });
                </script>
        <p id='test_send_json'></p>
                <script>
                    //send json to flask
                    function send_json(){
                    var arr = [{test1: 'Moscow', test2: 25 }];
                    //document.getElementById('test_send_json').innerHTML='send json runs'
                    $.ajax({
                        type: "POST",
                        url: "/graph/return_string",
                        data: JSON.stringify(arr),
                        dataType: "json",
                        contentType: "application/json;charset=utf-8",
                        success: function(data){alert(dataJ);},

                        failure: function(errMsg){alert(errMsg);}
                    })                   }
                </script>
                -->
            
        <h2>Tree</h2>
        <div>
            <p>you can upload sequences to generate a phylogenetic tree,or upload newick tree to 
                draw a tree
            </p>
        </div>
        <div id='tree'></div>
        <div id='div3'>
            tree_file_name:<input id='tree_file_name'>(eg."tree1.nwk","tree2.phyxml")<br><br>
            <form>
            file_type:
                <select id='ss'>
                    <option>tree file</option>
                    <option>sequences</option>
                </select>
            </form>
        </div>
        <button id='draw'>Plot a tree</button>
        <div>
            <h2>Matrix</h2>

        feature table file name :<input id='feature_table' value='feature-table.biom'>(e.g.: "experiment1.otutable" without quote)
        </div>
        <br>
        <div>
             sample metadata file name:<input id='metadata' value='demo_metadata.tsv'>
        </div>
        <br>
        <script>
            function plot_a_tree(){
                var selection = document.getElementById('ss').value;
            }
        
        </script>
        <br>
        <h3>filt matrix</h3>
        Select number of features to be analysis default:<input id='Num_features' value=1>
        <button id='feature_num' onclick="copy_options()">feature_ num_confirm</button>
        <br>
        Prevalence:<input id='prevalence' value=0.1>
        <br>
        Abundance:<input id='abundance' value=100>
        <br>
        Variance:<input id='variance' value=100>
        <br>
        <script>
            function copy_options(){
            var num_features =document.getElementById("Num_features").value;
            if(num_features > 1){
                $('#mySelect0 option').clone().appendTo('#mySelect1')
                if(num_features > 2){
                $('#mySelect0 option').clone().appendTo('#mySelect2')
                }
            }
            }
        </script> 
        <br>
         <button id='read_metadata'onclick="read_metadata()">read metadata</button> 
        <br>
        Feature to be analysised:
            <select id="mySelect0" size=1>
                <option>None</option>
            </select>
            <select id="mySelect1" size=1 type="hidden">
            </select>
            <select id="mySelect2" size=1 type="hidden">
            </select>
          <br>
        <button id="plot_heatmap" onclick="send_heatmap()">plot heatmap</button>
        <br>
        <br>
        <div id='result' style="width:1000px;height:800px"></div>
        <br>
        <br>
        <br>
        statistical methods
        <form>
            <select id="statistics methods">
                <option>t-test</option>
                <option>ks-test</option>
                <option>some-other-test-methods</option>

            </select>
        </form>
        statistical result:
        <button id='gen_result'>generate result</button>
        <script>
            function send_heatmap(){
                var dict1 = {};
                dict1.feature0 = document.getElementById('mySelect0').value;
                dict1.feature1 = document.getElementById('mySelect1').value;
                dict1.feature2 = document.getElementById('mySelect2').value;
                dict1.metadata = 'MVP/upload_files/'+document.getElementById('metadata').value;
                dict1.feature_table = 'MVP/upload_files/'+document.getElementById("feature_table").value;
                dict1.prevalence = document.getElementById('prevalence').value;
                dict1.abundance = document.getElementById('abundance').value;
                dict1.variance = document.getElementById('variance').value;
                //alert(typeof(JSON.stringify(dict1.metadata)));
                console.log(JSON.stringify(dict1))

            $.ajax(
                {
                    type: "POST",
                    url: "/graph/heat_map",
                    data: JSON.stringify(dict1),
                    dataType: "json",
                    contentType: "applications/json;charset=utf-8",
                    success: function(data){
                        //alert("ajax");
                        //var result = $('<div />').append(data).find("#result").html();
                        //$('#result').style="width:1000px;height:800px";
                        $('#result').html(data);
                        //document.getElementById('result').innerHTML=data;
                    },
                    error: function(xhr,status){
                        alert('sorry, there are problems')
                    }
                }
            )
            }
        </script> 

          <script>
          function read_metadata() {
              //features=['age','country','gender'];
              var features;
              var metadata_filename = document.getElementById('metadata').value;
              var demo_filename = 'MVP/upload_files/demo/demo_metadata.tsv';
              if (metadata_filename == ''){
                  metadata_filename =demo_filename;
              }else{
                  metadata_filename='MVP/upload_files/'+metadata_filename;
              }
              $.ajax({
                        type: "POST",
                        url: "/graph/return_string",
                        data: JSON.stringify(metadata_filename),
                        dataType: "json",
                        contentType: "application/json;charset=utf-8",
                        success: function(data){
                                      features=data;
                                      //alert(data[0]);
                                      var data_length = Object.keys(data).length;
                                      for(i=0;i<data_length;i++){
              var option = document.createElement("option");
                 temp = features[i];
              option.text = temp;
              x0.add(option);
              };
                                      },

                        failure: function(errMsg){alert(errMsg);}
                    }).responsetext;
              var x0 = document.getElementById("mySelect0");
              
          };
          </script>

        <script>
            function func1(){
                var otuname;
                otuname = document.getElementById('feature_table').value;
                //var gene_name;
                //gene_name = document.getElementById('seq').value;
                var metadata_name;
                metadata_name = document.getElementById('metadata').value;
                var total_s;
                total_s = 'otu_table_file: '+otuname+'<br>'+'<br>';
                //total_s += '\ngene sequence_file: ' + gene_name+'<br>'+'<br>';
                total_s += '\nmetadata file: ' + metadata_name+'<br>'+'<br>';
                //alert(typeof(otuname))
                document.getElementById('p').innerHTML=total_s;
            }
        </script>
        <script>
            function filt(){

            }
        </script>
    </body>
</html>