<html>
    <head>
        <style>
            p.big{
                line-height:1.8
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    </head>
    <body>  
        <h1>Metagenomics Visualize Platform</h1>
        <h2>Upload File</h2>
       

        <div id='div2'>
            1. upload your File.<br>
            2.select which item you are interested in .
            <title>Upload new File</title>
            <br>
            <br>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file id='upload'>
      <input type=submit value=Upload >
    </form>

    <p id='upload_print'></p>
    <script>function upload_print(){
        const filename = document.getElementById('upload').value;
        const filename2 = filename
        document.getElementById('upload_print').innerHTML=filename2;
        }
        </script>
            <button onclick='upload_print()'>click me</button> 

        </div>
        
        <script>
            //receive json from flask
                $(document).ready(function(){
                    $("#return_string").click(function(){
                        $.get("graph/return_string", function(data, status){
                            //var obj = JSON.parse(data);
                            document.getElementById('return_stringp').innerHTML=data['test1'];
                            alert("Data: " +data['test1']+ "\nStatus: " + status);
                        });
                    });
                });
                </script>
        <p id='test_send_json'></p>
                <script>
                    //send json to flask
                    function send_json(){
                    var arr = {test1: 'Moscow', test2: 25 };
                    //document.getElementById('test_send_json').innerHTML='send json runs'
                    $.ajax({
                        type: "POST",
                        url: "/graph/return_string",
                        data: JSON.stringify(arr),
                        dataType: "json",
                        contentType: "application/json;charset=utf-8",
                        success: function(data){alert(dataJ);},

                        failure: function(errMsg){alert(errMsg);}
                    })                   }
                </script>
                <button id='send_json' onclick="send_json()">send json</button>
            
        <p id='return_stringp'></p>
        <button id='return_string'>return string</button>
        <h2>Tree</h2>
        <div>
            <p>you can upload sequences to generate a phylogenetic tree,or upload newick tree to 
                draw a tree
            </p>
        </div>
        <div id='tree'></div>
        <div id='div3'>
            <form>
                <select id='ss'>
                    <option>sequences</option>
                    <option>tree file</option>
                </select>
            </form>
        </div>
        <button id='draw'>Plot a tree</button>
        <div>
            <h2>Matrix</h2>

        OTU_table file name :<input id='otutable'>(e.g.: "experiment1.otutable" without quote)
        </div>
        <br>
        <div>
        
        gene_sequences file name:<input id='seq'>
        </div>
        <br>
        <div>
            your metadataname:<input id='metadata'>
        </div>
        <br>
        <p id='p'>show files</p>
        <button id='tt3' onclick="func1()">click me</button>
        <script>
            function plot_a_tree(){
                var selection = document.getElementById('ss').value;
            }
        
        </script>
        <br>
        <br>
        Feature to be analysised:
        <form>
            <select id="mySelect" size=1>
              
            </select>
          </form>
          <br>
          
         
          
         <button id='read_metadata'onclick="myFunction()">read metadata</button> 
          <script>
          function myFunction(features=['age','country','gender']) {
              var x = document.getElementById("mySelect");
              //features = ["a","b","c"];
              for(i=0;i<3;i++){
              var option = document.createElement("option");
                 temp = features[i];
              option.text = temp;
              x.add(option);
              }
          }
          //myFunction();
          </script>
        <script>
            function func1(){
                var otuname;
                otuname = document.getElementById('otutable').value;
                var gene_name;
                gene_name = document.getElementById('seq').value;
                var metadata_name;
                metadata_name = document.getElementById('metadata').value;
                var total_s;
                total_s = 'otu_table_file: '+otuname+'<br>'+'<br>';
                total_s += '\ngene sequence_file: ' + gene_name+'<br>'+'<br>';
                total_s += '\nmetadata file: ' + metadata_name+'<br>'+'<br>';
                //alert(typeof(otuname))
                document.getElementById('p').innerHTML=total_s;
            }
        </script>
    </body>
</html>