<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>  
        <title>Metagenomics Visualize Platform</title>
        <h1>Metagenomics Visualize Platform</h1>
        <h2>Upload File</h2>
        <div id='div2'>
            1. upload your File.<br>
            2.select which item you are interested in .
            <br>
            <br>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file id='upload'>
      <input type=submit value=Upload >
    </form>
    </div>
    <h2>Annotation</h2>
    <div>
        Taxon:<input id='taxonomy_file' value='taxonomy.tsv'>
        <br>
        Feature_table:<input id='feature_table_file' value='feature-table.biom'>
        <br>
        <br>
        <div id='anno_result'style="width:800px;height:600px" style.display='none'></div>
    </div>
            
        <h2>Tree</h2>
        <div>
            <p>you can upload sequences to generate a phylogenetic tree,or upload newick tree to 
                draw a tree
            </p>
        </div>
        <div id='tree'></div>
        <div id='div3'>
            tree_file_name:<input id='tree_file_name' value='tree.nwk'>
            tree_format:<select id='tree_format'>
                <option>newick</option>
                <option>phyloxml</option>
            </select>
            <br><br>

        </div>
        <br>
        input the node num of the subtree root:<input id='node_num' value=0>
        <select id='tree_type'>
            <option>rectangle_tree</option>
            <option>circular_tree</option>
        </select>
        <button id= 'plot_tree' onclick="plot_tree()">plot tree</button>
        <div id='tree_result' style="width:800px;height:600px"></div>
        <div>
            <h2>Matrix</h2>

        feature table file name :<input id='feature_table' value='feature-table.biom'>(e.g.: "experiment1.otutable" without quote)
        </div>
        <br>
        <div>
             sample metadata file name:<input id='metadata' value='demo_metadata.tsv'>
        </div>
        <br>
        <br>
        <h3>filt matrix</h3>
        Select number of features to be analysis default:<input id='Num_features' value=1>
        <button id='feature_num' onclick="copy_options()">feature_ num_confirm</button>
        <br>
        Prevalence:<input id='prevalence' value=0.1>
        <br>
        Abundance:<input id='abundance' value=100>
        <br>
        Variance:<input id='variance' value=100>
        <br>
        <script>
            function copy_options(){
            var num_features =document.getElementById("Num_features").value;
            if(num_features > 1){
                $('#mySelect0 option').clone().appendTo('#mySelect1')
                if(num_features > 2){
                $('#mySelect0 option').clone().appendTo('#mySelect2')
                }
            }
            }
        </script> 
        <br>
         <button id='read_metadata'onclick="read_metadata()">read metadata</button> 
        <br>
        <h2>Abundance</h2>
        <div>abundance type:
        <select id='abundance_type'>
            <option>absolute</option>
            <option>realtive</option>
        </select>
             </div>
        <br>
        <div>obtain log abundance: 
        <select id='log_flag'>
            <option>yes</option>
            <option>no </option>
        </select>
        </div>
        <button id='plot_abun_result' onclick="plot_abun()">plot abundance</button>
        <div id='abun_result'style="width:800px;height:600px;"></div>
        Feature to be analysied:
            <select id="mySelect0" size=1>
                <option>None</option>
            </select>
            <select id="mySelect1" size=1 type="hidden">
            </select>
            <select id="mySelect2" size=1 type="hidden">
            </select>
          <br>
        <button id="plot_heatmap" onclick="send_heatmap()">plot heatmap</button>
        <br>
        <br>
        <div id='heatmap_result' style="width:800px;height:600px"></div>
        <br>
        <br>
        <br>
        <h2>statistical methods</h2>
        <div id='stats description'>You can do some test and correlation 
            compute here.For example, t-test or F-test between two groups
        labled 0 and 1.</div>
        <form>
            <select id="statistics methods">
                <option>t_test</option>
                <option>F_test</option>
                <option>some-other-test-methods</option>
                <option>TO BE CONTINUED..</option>
            </select>
        </form>
        statistical result:
        <button id='gen_result' onclick="plot_stats_result()">generate result</button>
        <div id='stat_test_result' style="width:800px;height:600px">stat_test_result</div>
        




        <h2>OTU Set Enrichment Analysis(OSEA)</h2>
        choose the rank list.<br>
        choose the lineage level(e.g. phylum ,genus,specied.etc)
        <select id='set_level'>
            <option>Kingdom</option>
            <option>Phylum</option>
            <option>Class</option>
            <option>Order</option>
            <option>Family</option>
            <option>Genus</option>
            <option>Species</option>
        </select>
        <button id='gen_osea_result' onclick="plot_osea_result()">generate result</button>
        <div id='osea_result' style="width:800px;height:600px">osea_result</div>
        
       <h2>Dimension Reduction</h2>
       n_component(which deicde the number of dimensions after dimension reduction):
       <select id='flag_3d'>
           <option>False</option>
           <option>True</option>
       </select> 
       <br>
       <select id='n_component'>
           <option>2</option>
           <option>3</option>
       </select> 
       <br>
       <select id='method'>
           <option>Isomap</option>
           <option>MDS</option>
       </select> 
       <button id='gen_dim_reduce_result' onclick="plot_dim_reduce_result()">generate dim_reduce result</button>
       <div id='dim_reduce_result' style="width:800px;height:600px">dim_reduce_result</div>

       <h2>Diversity</h2>
       <h3>alpha diversity</h3>
        alpha table file name :<input id='alpha_table_file' value='alpha-diversity.tsv'>
       <button id='gen_alpha_diversity_result' onclick="plot_alpha_div()">plot alpha div</button>
       <select id='alpha_metric'>
       <option>faith_pd</option>
       <option>ace</option>
       <option>chao1</option>
       <option>fisher_alpha</option>
       <option>gini_index</option>
       <option>goods_coverage</option>
       <option>robbins</option>
       <option>shannon</option>
       <option>simpson</option>
       <option>simpson_e</option>
       </select>
       <div id='alpha_diversity_result' style="width:800px;height: 600px"></div>
        distance matrix file name :<input id='distance_matrix_file' value='distance-matrix.tsv'>
        <h2>rarefaction</h2>
        <button id='gen_rarefaction' onclick="plot_alpha_rarefaction()">plot rarefaction</button> 
        <select id='rarefaction_metric'>
            <option>faith_pd</option>
            <option>ace</option>
            <option>chao1</option>
            <option>fisher_alpha</option>
            <option>gini_index</option>
            <option>goods_coverage</option>
            <option>robbins</option>
            <option>shannon</option>
            <option>simpson</option>
            <option>simpson_e</option>
        </select>
        max_sequence depth:<input id='max_seq' value=300>
        step:<input id ='step' value=50>
        rarefied number <input id='rarefied_num' value=10>
        <div id='rarefaction_box_result' style="width:800px;height: 600px"></div>
        <div id='rarefaction_scatter_result' style="width:800px;height: 600px"></div>
       
       <h3>beta diversity</h3>

       <select id='beta_metric'>
           <option>weighted_unifrac</option>
           <option>unweighted_unifrac</option>
           <option>Bray_Curtis</option>
       </select>
       <select id='beta_dim_method'>
           <option>PCoA</option>
           <option>Isomap</option>
           <option>MDS</option>
       </select>
       <select id='beta_n_components'>
           <option>2</option>
           <option>3</option>
       </select>
       <button id='gen_beta_diversity_result' onclick="plot_beta_div()">plot beta div</button>
       <div id='beta_diversity_result' style="width:800px;height: 600px"></div>
       <h2>ecology analysis</h2>
       <h3>phylogenetic tree</h3>
        node-number :<input id='ecology_tree_node_num' value=0>
       <button id='phylo_tree_generator' onclick="plot_phylo_tree()">plot phylo tree</button>
       <div id='phylo_tree_result' style="width:800px;height: 600px"></div>

        <script>
            function send_heatmap(){
                var dict1 = {};
                dict1.feature0 = document.getElementById('mySelect0').value;
                dict1.feature1 = document.getElementById('mySelect1').value;
                dict1.feature2 = document.getElementById('mySelect2').value;
                dict1.metadata = 'MVP/upload_files/'+document.getElementById('metadata').value;
                dict1.feature_table = 'MVP/upload_files/'+document.getElementById("feature_table").value;
                dict1.prevalence = document.getElementById('prevalence').value;
                dict1.abundance = document.getElementById('abundance').value;
                dict1.variance = document.getElementById('variance').value;
                //alert(typeof(JSON.stringify(dict1.metadata)));
                console.log(JSON.stringify(dict1))

            $.ajax(
                {
                    type: "POST",
                    url: "/graph/heat_map",
                    data: JSON.stringify(dict1),
                    dataType: "json",
                    contentType: "applications/json;charset=utf-8",
                    success: function(data){
                        //alert("ajax");
                        //var result = $('<div />').append(data).find("#result").html();
                        //$('#result').style="width:1000px;height:800px";
                        $('#heatmap_result').html(data[0]);
                        //document.getElementById('result').innerHTML=data;
                    },
                    error: function(xhr,status){
                        alert('sorry, there are problems')
                    }
                }
            )
            }
        </script> 

          <script>
          function read_metadata() {
              //features=['age','country','gender'];
              var features;
              var metadata_filename = document.getElementById('metadata').value;
              var demo_filename = 'MVP/upload_files/demo/demo_metadata.tsv';
              if (metadata_filename == ''){
                  metadata_filename =demo_filename;
              }else{
                  metadata_filename='MVP/upload_files/'+metadata_filename;
              }
              $.ajax({
                        type: "POST",
                        url: "/graph/return_string",
                        data: JSON.stringify(metadata_filename),
                        dataType: "json",
                        contentType: "application/json;charset=utf-8",
                        success: function(data){
                                      features=data;
                                      //alert(data[0]);
                                      var data_length = Object.keys(data).length;
                                      for(i=0;i<data_length;i++){
              var option = document.createElement("option");
                 temp = features[i];
              option.text = temp;
              x0.add(option);
              };
                                      },

                        failure: function(errMsg){alert(errMsg);}
                    }).responsetext;
              var x0 = document.getElementById("mySelect0");
              
          };
          </script>

        <script>
            function plot_tree(){
                var tree_paras={};
                tree_paras.tree_file = 'MVP/upload_files/'+document.getElementById('tree_file_name').value;
                tree_paras.node_num = document.getElementById('node_num').value;
                tree_paras.file_type = document.getElementById('tree_format').value;
                tree_paras.feature_table_file = 'MVP/upload_files/'+document.getElementById('feature_table_file').value;
                tree_paras.taxonomy_file = 'MVP/upload_files/'+document.getElementById('taxonomy_file').value;
                tree_paras.tree_type = document.getElementById('tree_type').value;
                tree_paras.feature0 = document.getElementById('mySelect0').value;
                tree_paras.feature1 = document.getElementById('mySelect1').value;
                tree_paras.feature2 = document.getElementById('mySelect2').value;
                tree_paras.metadata = 'MVP/upload_files/'+document.getElementById('metadata').value;
                tree_paras.feature_table = 'MVP/upload_files/'+document.getElementById("feature_table").value;
                console.log(JSON.stringify(tree_paras))
                $.ajax({
                    type: "POST",
                    url: "/graph/plot_tree",
                    data: JSON.stringify(tree_paras),
                    dataType: "json",
                    contentType: "applications/json;charset=utf-8",
                    success: function(data){
                        //alert("ajax");
                        //var result = $('<div />').append(data).find("#result").html();
                        //$('#result').style="width:1000px;height:800px";
                        $('#tree_result').html(data[0]);
                        $('#anno_result').html(data[1]);
                        $('#heatmap_result').html(data[2]);
                        //document.getElementById('result').innerHTML=data;
                    },
                    error: function(xhr,status){
                        alert('sorry, there are problems')
                    }
                }
                )
            }
        </script>
    <script>
        function plot_abun(){
            var abun_paras = {};
            abun_paras.feature_table_file = 'MVP/upload_files/'+document.getElementById('feature_table_file').value;
            abun_paras.taxonomy_file = 'MVP/upload_files/'+document.getElementById('taxonomy_file').value;
            abun_paras.feature0 = document.getElementById('mySelect0').value;
            abun_paras.feature1 = document.getElementById('mySelect1').value;
            abun_paras.feature2 = document.getElementById('mySelect2').value;
            abun_paras.metadata = 'MVP/upload_files/'+document.getElementById('metadata').value;
            abun_paras.feature_table = 'MVP/upload_files/'+document.getElementById("feature_table").value;
            abun_paras.abun_type = document.getElementById('abundance').value;
            abun_paras.log_flag = document.getElementById('log_flag').value;
            console.log(JSON.stringify(abun_paras))
                $.ajax({
                    type: "POST",
                    url: "/graph/plot_abun",
                    data: JSON.stringify(abun_paras),
                    dataType: "json",
                    contentType: "applications/json;charset=utf-8",
                    success: function(data){
                        //alert("ajax");
                        //var result = $('<div />').append(data).find("#result").html();
                        //$('#result').style="width:1000px;height:800px";
                        $('#abun_result').html(data[0]);
                        $('#anno_result').html(data[1]);
                        $('#heatmap_result').html(data[2]);
                        //document.getElementById('result').innerHTML=data;
                    },
                    error: function(xhr,status){
                        alert('sorry, there are problems')
                    }
                }
                )
            }
    </script>
    <script>
        function plot_stats_result(){
            var stats_paras = {};
            stats_paras.stats_method = document.getElementById('statistics methods').value;
            stats_paras.feature_table = 'MVP/upload_files/'+document.getElementById('feature_table_file').value;
            stats_paras.metadata = 'MVP/upload_files/'+document.getElementById('metadata').value;
            stats_paras.label_col = document.getElementById('mySelect0').value;
            console.log(JSON.stringify(stats_paras))
                $.ajax({
                    type: "POST",
                    url: "/graph/plot_stats_test",// TODO
                    data: JSON.stringify(stats_paras),
                    dataType: "json",
                    contentType: "applications/json;charset=utf-8",
                    success: function(data){
                        $('#stat_test_result').html(data[0]);
                    },
                    error: function(xhr,status){
                        alert('sorry, there are problems')
                    }
                }
                )
        }

    </script>
    <script>
        function plot_osea_result(){
            var osea_paras = {};
            osea_paras.metadata = 'MVP/upload_files/'+document.getElementById('metadata').value;
            osea_paras.taxonomy = 'MVP/upload_files/'+document.getElementById('taxonomy_file').value;
            osea_paras.feature_table = 'MVP/upload_files/'+document.getElementById('feature_table_file').value;
            osea_paras.obj_col = document.getElementById('mySelect0').value;
            osea_paras.set_level = document.getElementById('set_level').value;
            console.log(JSON.stringify(osea_paras))
                $.ajax({
                    type: "POST",
                    url: "/graph/plot_OSEA",// TODO
                    data: JSON.stringify(osea_paras),
                    dataType: "json",
                    contentType: "applications/json;charset=utf-8",
                    success: function(data){
                        $('#osea_result').html(data[0]);
                    },
                    error: function(xhr,status){
                        alert('sorry, there are problems')
                    }
                }
                )
        }
    </script>
    <script>
        function plot_dim_reduce_result(){
            var dim_paras = {};
            dim_paras.metadata = 'MVP/upload_files/'+document.getElementById('metadata').value;
            dim_paras.feature_table = 'MVP/upload_files/'+document.getElementById('feature_table_file').value;
            dim_paras.obj_col = document.getElementById('mySelect0').value;
            dim_paras.flag_3d = document.getElementById('flag_3d').value;
            dim_paras.n_component = document.getElementById('n_component').value;
            dim_paras.method = document.getElementById('method').value;
            console.log(JSON.stringify(dim_paras))
                $.ajax({
                    type: "POST",
                    url: "/graph/plot_dim_reduce",// TODO
                    data: JSON.stringify(dim_paras),
                    dataType: "json",
                    contentType: "applications/json;charset=utf-8",
                    success: function(data){
                        $('#dim_reduce_result').html(data[0]);
                    },
                    error: function(xhr,status){
                        alert('sorry, there are problems')
                    }
                }
                )
        }
               
    </script>
    <script>
        function plot_alpha_div(){
            var alpha_paras = {};
            alpha_paras.metadata = 'MVP/upload_files/'+document.getElementById('metadata').value;
            alpha_paras.feature_table = 'MVP/upload_files/'+document.getElementById('feature_table_file').value;
            alpha_paras.obj_col = document.getElementById('mySelect0').value;
            alpha_paras.tree = 'MVP/upload_files/'+document.getElementById('tree_file_name').value;
            alpha_paras.metric = document.getElementById('alpha_metric').value;
            console.log(JSON.stringify(alpha_paras))
                $.ajax({
                    type: "POST",
                    url: "/graph/plot_alpha_diversity",// TODO
                    data: JSON.stringify(alpha_paras),
                    dataType: "json",
                    contentType: "applications/json;charset=utf-8",
                    success: function(data){
                        $('#alpha_diversity_result').html(data[0]);
                    },
                    error: function(xhr,status){
                        alert('sorry, there are problems in plot alpha diversity')
                    }
                }
                )

        }
    </script>
    <script>
        function plot_beta_div(){
            var beta_paras = {};
            beta_paras.metric = document.getElementById('beta_metric').value;
            beta_paras.metadata = 'MVP/upload_files/'+document.getElementById('metadata').value;
            beta_paras.feature_table = 'MVP/upload_files/'+document.getElementById('feature_table_file').value;
            beta_paras.tree = 'MVP/upload_files/'+document.getElementById('tree_file_name').value;
            beta_paras.obj_col = document.getElementById('mySelect0').value;
            beta_paras.beta_dim_method = document.getElementById('beta_dim_method').value;
            beta_paras.n_components = document.getElementById('beta_n_components').value;
            console.log(JSON.stringify(beta_paras))
                $.ajax({
                    type: "POST",
                    url: "/graph/plot_beta_diversity",// TODO
                    data: JSON.stringify(beta_paras),
                    dataType: "json",
                    contentType: "applications/json;charset=utf-8",
                    success: function(data){
                        $('#beta_diversity_result').html(data[0]);
                    },
                    error: function(xhr,status){
                        alert('sorry, there are problems in plot beta diversity')
                    }
                }
                )

        }
    </script>
    <script>
        function plot_phylo_tree(){
            var beta_paras = {};
            beta_paras.metadata = 'MVP/upload_files/'+document.getElementById('metadata').value;
            beta_paras.feature_table = 'MVP/upload_files/'+document.getElementById('feature_table').value;
            beta_paras.obj_col = document.getElementById('mySelect0').value;
            beta_paras.node_num = document.getElementById('ecology_tree_node_num').value;
            beta_paras.tree = 'MVP/upload_files/'+document.getElementById('tree_file_name').value;
            beta_paras.taxonomy = 'MVP/upload_files/'+document.getElementById('taxonomy_file').value;
            console.log(JSON.stringify(beta_paras))
                $.ajax({
                    type: "POST",
                    url: "/graph/plot_corr_tree",// TODO
                    data: JSON.stringify(beta_paras),
                    dataType: "json",
                    contentType: "applications/json;charset=utf-8",
                    success: function(data){
                        $('#phylo_tree_result').html(data[0]);
                    },
                    error: function(xhr,status){
                        alert('sorry, there are problems in plot corr tree')
                    }
                }
                )



        }
    </script>
    <script>
        function plot_alpha_rarefaction(){
            var rare_paras = {};
            rare_paras.metadata = 'MVP/upload_files/'+document.getElementById('metadata').value;
            rare_paras.feature_table = 'MVP/upload_files/'+document.getElementById('feature_table').value;
            rare_paras.obj_col = document.getElementById('mySelect0').value;
            rare_paras.tree = 'MVP/upload_files/'+document.getElementById('tree_file_name').value;
            rare_paras.metric = document.getElementById('rarefaction_metric').value;
            rare_paras.step = document.getElementById('step').value;
            rare_paras.max_seq = document.getElementById('max_seq').value;
            rare_paras.rarefied_num = document.getElementById('rarefied_num').value;
            console.log(JSON.stringify(rare_paras))
                $.ajax({
                    type: "POST",
                    url: "/graph/plot_alpha_rarefaction",// TODO
                    data: JSON.stringify(rare_paras),
                    dataType: "json",
                    contentType: "applications/json;charset=utf-8",
                    success: function(data){
                        $('#rarefaction_box_result').html(data[0]);
                        $('#rarefaction_scatter_result').html(data[1]);
                    },
                    error: function(xhr,status){
                        alert('sorry, there are problems in alpha_rarefaction')
                    }
                }
                )

        }

    </script>
    </body>

</html>