<html>
    <head>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/base.css') }}" />
        <script src="{{ url_for('static', filename='JS/base.js') }}"></script>
    </head>
    <body>
       <h1>metadata project</h2>
        Select three numerical features from metadata columns:
        <br>
        <button onclick="get_numeric_cols()">Get numeric columns</button>
       <select id='mySelect1'>
           <option></option>
       </select>
       <select id='mySelect2'>
           <option></option>
       </select>
       <select id='mySelect3'>
           <option></option>
       </select>



       <input id='ID_num'>
       <button id='metadata project' onclick='plot_PCA()'>plot PCA</button>
       <div id='PCA_result'>PCA result</div>
       <div id='sub_tree'>subtree result</div>
       <div id='ann'>anono result</div>


    </body>

</html>